<main role="main" style="background-color: rgb(9, 24, 32);">
  <div class="jumbotron" style="background-color: #dff9fb;">
    <div class="container">
      <h1 class="display-3">PPM - Product Management</h1>
      <p>Welcome to Project Product Management!here we can manage a set of products. You are able to create
        products,
        remove old products, and edit old products</p>
      <p><a class="btn btn-primary btn-lg" [routerLink]="['/products']" role="button">Check Product List &raquo;</a></p>
    </div>
  </div>
  <div class="container my">
    <div class="home-img"></div>
  </div>
</main>